# common
cryptography
# DeepLearning
numpy
scipy
scikit-learn
# Connection
requests
pymysql
mysqlclient
# Data Processing
beautifulsoup4
xmltodict
pandas
# Middleware
uwsgi
# Web Framework
Flask
flask_sqlalchemy
Flask-Migrate
flask_script
Flask-APScheduler
# scheduler